# Compiled class files
*.class

# Maven target directory
target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Allure results
.allure/
allure-results/

# Other build files
testing.xml
Test+Generate.txt