<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AllTestsSuite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="AllTests">
        <classes>
            
            <class name="TestCases.AllProductsPageTest"/>
            <class name="TestCases.CartPageTest"/>
            <class name="TestCases.CheckoutPageTest"/>
            <class name="TestCases.ContactUsFormTest"/>
            <class name="TestCases.HomePageTest"/>
            <class name="TestCases.LoginLogoutTest"/>
            <class name="TestCases.ProductPageTest"/>
            <class name="TestCases.RegisterTest"/>
            <class name="TestCases.TestCasesPageTest"/>

            
        </classes>
    </test>
</suite>